.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.login-card {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #075e54;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #064c45;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #075e54;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
}

.error-text {
  background: #ffe5e5;
  color: #b00020;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
}
